.footer {
  display: flex;
  grid-template-rows: auto auto auto;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 9px;
  border: none;
  text-align: center;
}

.footer .top {
  height: 2px;
  border-top: 2px solid transparent;
  background: linear-gradient(to top, black, transparent);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.footer .bottom {
  background-color: white;
}


.footer .footer-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: auto;
}

.footer .social-icon {
  height: 15px;
  width: 15px;
  padding: 10px;
  cursor: pointer;
  pointer-events: none;
  filter: 0;
}


.footer a {
  cursor: pointer;
}


