.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
}

.header .top {
  display: flex;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header .bottom {
  height: 2px;
  border-bottom: 2px solid transparent;
  background: linear-gradient(to bottom, black, transparent);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.header .left {
  display: flex;
  height: 70px;
  align-items: center;
  font-size: 11px;
  letter-spacing: 5px;
  line-height: 12px;
  text-shadow: 1px 1px 1px lightgray;
}

.header .left img {
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 7px;
  margin-left: 8px;
  box-shadow: 3px 3px 3px lightgray;
}

.header .right {
  right: 0;
  width: 40px;
}

.header .menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header .right img {
  height: 25px;
}
