.menu {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  background-color: white; 
  z-index: 101;
  position: fixed;
  top: 68px;
  bottom: 31px;
  left: 0;
  right: 0;
  text-align: center;
}

.menu a {
  padding-top: 30px;
  font-size: 35px;
}
