.menu {
  display: flex;
  flex-direction: column;
  background-color: black; 
  z-index: 101;
  position: fixed;
  top: 68px;
  bottom: 100%;
  left: 0;
  right: 0;
  text-align: center;
}

.menu a {
  padding-top: 30px;
  opacity: 0.0;
  font-size: 20px;
  color: white;
  font-family: 'Space Grotesk';
  background-color: transparent;
  margin: 10px 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  position: relative;
  border-radius: 3px;
  letter-spacing: 10px;
}

.menu div {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.open-menu {
  opacity: 1;
  transition: opacity .2s ease-in .4s;
}

.hide-menu {
  opacity: 0.00;
  transition: opacity .2s ease-out .15s;
}

.menu-open-animation {
  animation-name: menu-appear;
}

.menu-close-animation{
  animation-name: menu-disappear;
}

.menu-open-animation,
.menu-close-animation {
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes menu-appear {
  0% {bottom: 100%}
  100% {bottom: 45px}
}

@keyframes menu-disappear {
  0% {bottom: 45px}
  100% {bottom: 100%}
}
